# Sistema Operacional
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDEs e Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.gemini/

# Logs e arquivos temporários
*.log
scratch/
